<h1>@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here is what your "friends" are saying:</p>


<div>
    <% @following_tweets.reverse_each do |tweet| %>
    <div class="well">
      <p><% image_tag tweet.user.avatar.url, size: 25 %> <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id) %> <%= Time.now - tweet.created_at < 86400 ? "#{time_ago_in_words(tweet.created_at)} ago" : tweet.created_at.strftime('%b %e') %></p>

	    <p><%= tweet.message.html_safe %></p>
	</div>
    <% end %>
</div>
